<html>
	<h2>
		Dear <%= @recipient%>,
	</h2>
	<h3 style="padding-bottom: 20px">
		Greetings from Busy Bee
	</h3>
	<div style="padding-top 20px">
		<p>
			We have received your Enquiry Details and will respond to you shortly.
		</p>
	</div>
	<div style="padding-top 20px">
		<p>
			Warm regards,</br>
			Busy Bee Customer Care	
		</p>
	</div>
	<div style="padding-top 20px">
		<p>
			This is an automated response to your e-mail. Kindly do not reply on this mail.
		</p>
	</div>
</html>