<html>
	<h2>
		I am <%= @recipient%> from <%= @company %>.
	</h2>
	<h3>
		My contact details E-Mail id is <%= @email%> and my phone number is <%= @number%>
	</h3>
	<div>
		<p>
			<%= @message%>
		</p>
	</div>
</html>
