<html>
		<table width="100%">
			<tr>
				<td class="head">
					About Us
				</td>
			</tr>
			<tr>
				<td align="center">
					<%= image_tag ("/images/abys.png"),:size => "500x200"%> 
				</td>
			</tr>
			<tr>
				<td style="padding-top: 20px">
					<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We started off as a small team  to build amazing products and solutions for companies that need them. Quality is our middle name. Come to us with a need and we'll build you a great app. 
					</p>
					<p>
				    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our biggest strength is our people. Our team members are all highly qualified, committed, versatile and hardworking and have vast experience in the latest technologies in their respective fields. 
					</p>
				</td>
			</tr>
		</table>
</html>
