<html>
	<div class = 'head', style="padding-bottom: 30px">
		Welcome!!!!!!
	</div>
	<div style="padding-bottom: 30px">
		<%= image_tag ("/images/thumbnail.jpg") ,:size => "720x150"%> 
	</div>
	<tr>
		<td>
			<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Busy Bee is dedicated to provide software solutions and services based on open source and leading-edge technologies to Web design and product outsourcing for companies to help them meet their business objectives.
			</p>
		</td>
	</tr>
</html>
