<html>
	<div  style="width: 30%; height: 84%; float:left; border:groove">
		<table>
			<tr>
				<td class="head">
					Web Design
				</td>
			</tr>
			<tr>
				<td align="center", style="padding-top: 30px;">
					<%= image_tag ("/images/aspects.jpg") ,:size => "210x150"%> 
				</td>
			</tr>
			<tr>
				<td style="padding-top: 30px;line-height: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our expert team can design, develop, and maintain stunning web applications with great user experience. We live and breath Technology, get in touch to have your application done the quickest way possible. 
				</td>
			</tr>
		</table>
	</div>
	<div  style="width: 32%; height: 80%; float:left; padding-bottom: 20px;border:groove">
		<table>
			<tr>
					<td class="head">
							Apps Development
					</td>
				</tr>
			<tr>
				<td align="center", style="padding-top: 30px;">
					<%= image_tag ("/images/ram.png") ,:size => "210x150"%> 
				</td>
			</tr>
			<tr>
				<td style="padding-top: 30px;line-height: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We bring to the table personnel with the domain expertise you need to help you develop and define the requirements for an appropriate and effective solution. &nbsp;&nbsp;&nbsp;&nbsp;Our &nbsp;teams&nbsp;&nbsp; have &nbsp;&nbsp;&nbsp;wide-ranging &nbsp;experience &nbsp;&nbsp;in technology and understand your domain and business constraints.  
				</td>
			</tr>
		</table>
	</div>
	<div  style="width: 32%; height: 80%; float:left; padding-bottom: 20px;border:groove">
		<table>
			<tr>
					<td class="head">
							Apps Migration
					</td>
				</tr>
			<tr>
				<td align="center", style="padding-top: 30px;">
					<%= image_tag ("/images/mig.png") ,:size => "210x150"%> 
				</td>
			</tr>
			<tr>
				<td style="padding-top: 30px;line-height: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projects include re-engineering software to migrate applications legacy systems to client/server architectures, to extend existing applications to the Internet, to migrate from existing applications to UNIX or Windows NT. 
				</td>
			</tr>
		</table>
	</div>
</html>
