<html>
	<div  style="width: 50%; height: 84%; float:left;">
		<table>
			<tr>
				<td class="head">
					Ruby on Rails
				</td>
			</tr>
			<tr>
				<td align="center"">
					<%= image_tag ("/images/ruby_all.png")%> 
				</td>
			</tr>
		</table>
	</div>
	<div  style="width: 50%; height: 84%; float:left;">
		<table>
			<tr>
				<div style="padding-bottom: 10px", class="head">
					What we offer
				</div>
			</tr>
			<tr>
				<div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Busy Bee has a competent team which has extensive experience in handling open source projects on Ruby on Rails. 
				</div>
			</tr>
			<tr>
				<td style="font-size: 14px;padding-top: 10px", class="head">
					Front End
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 Ruby
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 Rails
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 HTML,CSS
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 JQuery,AJAX
				</td>
			</tr>
			<tr>
				<td style="font-size: 14px;padding-top: 10px", class="head">
					Back End
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 PostgreSQL
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 MySQL
				</td>
			</tr>
			<tr>
				<td align="center">
					 <%= image_tag ("/images/arrow.png"),:size => "20x20"%>
				</td>
				<td align="left">
					 Oracle
				</td>
			</tr>
		</table>
	</div>
</html>
